body {
    margin: 0;
    font-family: 'Bitter', serif;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: #6a6765;
}
header {
    height: 187px;
    background-color:#DD6A00;
    text-align: center;
    padding: 10px;
}
.logo {
    height: 140px;
}
nav {
    background-color: #FFAD93;
}
nav ul {
    list-style: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}
nav ul li {
    padding: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
    padding-right: 25px;
}
.content {
    min-height: 400px;
}
footer {
    background-color: #FFAD93;
    min-height: 30px;
    padding: 50px;
    text-align: center;

}
.container{
    max-width: 800px;
    display: flex;
    margin: auto;
    padding-top: 30px;
    flex-wrap: wrap;
}